html
	include inc/head.jade
	body
		#root
		//-include inc/header.jade
		//-include inc/content.jade
		//-include inc/education.jade
		//-include inc/exp.jade
		//-include inc/tech.jade
script(type="text/babel", src='js/site.js')