html
	include inc/head.jade
	body
		#root
		//-include inc/header.jade
		//-include inc/content.jade
		//-include inc/education.jade
		//-include inc/exp.jade
		//-include inc/tech.jade
		//-include inc/contact.jade
script(type="text/babel", src='js/site.js')
<div><img src="https://mc.yandex.ru/watch/43375879" style="position:absolute; left:-9999px;" alt="" /></div>