.b-content
	h2.b-content__title Контакты 
	.b-contact
		.b-contact-form.col-lg-6.col-md-6.col-sm-12.col-xs-12
			form
				textarea.b-contact-form__input(placeholder="Можете что ни будь мне написать")
				button.b-contact-form__button Отправить письмо
			.b-contact-form__done
				h3.b-contact-form__title Я это прочитаю. 
		.b-contact-adres.col-lg-6.col-md-6.col-sm-12.col-xs-12
			.b-experience-portfolio__item
				a(href="https://vk.com/ommmmmmmmmmmm" rel="nofollow noopener" target="_blank" ).b-experience-portfolio__link
					.glyphicon.glyphicon-link
					span.b-experience-portfolio__name  Вконтакте
			.b-experience-portfolio__item
				a(href="https://www.facebook.com/profile.php?id=100011023278862" rel="nofollow noopener" target="_blank" ).b-experience-portfolio__link
					.glyphicon.glyphicon-link
					span.b-experience-portfolio__name  Фэйсбук
			.b-experience-portfolio__item
				a(href="mailto:sibsubtech@gmail.com" rel="nofollow noopener" target="_blank" ).b-experience-portfolio__link
					.glyphicon.glyphicon-envelope
					span.b-experience-portfolio__name  Sibsubtech@gmail.com


		