.b-content
	h2.b-content__title Резюме
	p.b-resume.row
		.b-resume-education.col-lg-6.col-md-6.col-sm-12.col-xs-12
			span.b-resume-education__name.b-resume-education__line Добытин Александр
			span.b-resume-education__age.b-resume-education__line 26 лет
			span.b-resume-education__vers.b-resume-education__line Тюменский Государственный Нефтегазовый Университет
			span.b-resume-education__course.b-resume-education__line Автоматизации Систему Обработки Информации и Управления
			span.b-resume-education__quality.b-resume-education__line Инженер программист
		.b-resume-education.col-lg-6.col-md-6.col-sm-12.col-xs-12
			span.b-resume-education__name.b-resume-education__line Фронт-энд разработчик
			span.b-resume-education__age.b-resume-education__line с 1.03.2015 по настоящее время
			span.b-resume-education__vers.b-resume-education__line Echo-company
			span.b-resume-education__vers.b-resume-education__line г.Тюмень
			