.b-content
	h2.b-content__title Опыт
	p.b-experience.row
		.b-experience-time.col-lg-6.col-md-6.col-sm-12.col-xs-12
			span.b-experience-time__duration 734
			span Дня в вэб-разработке
			span.b-experience-time__normal
				.glyphicon.glyphicon-send  
				span  Полет нормальный
		.b-experience-portfolio.col-lg-6.col-md-6.col-sm-12.col-xs-12
			h3.b-experience-portfolio__title Последние работы :
			.b-experience-portfolio__item
				a(href="http://ermolaev-beer.ru/" rel="nofollow noopener" target="_blank").b-experience-portfolio__link
					.glyphicon.glyphicon-link
					span.b-experience-portfolio__name  Пивоварня Ермолаев
				span.b-experience-portfolio__work Фул-стэк
			.b-experience-portfolio__item
				a(href="http://atmyplace.ru/" rel="nofollow noopener" target="_blank" disable).b-experience-portfolio__link
					.glyphicon.glyphicon-link
					span.b-experience-portfolio__name  Магази ЭтМайПлэйс
				span.b-experience-portfolio__work Фронт-энд
			.b-experience-portfolio__item
				a(href="http://tyumeco.ru/" rel="nofollow noopener" target="_blank").b-experience-portfolio__link
					.glyphicon.glyphicon-link
					span.b-experience-portfolio__name  Пивоварня ТюмЭкоБир
				span.b-experience-portfolio__work Фул-стэк