.b-header
	h1
		span.b-header__title.hidden-sm.hidden-xs Домашняя страница Александра Добытина
		span.b-header__title.hidden-lg.hidden-md Дом-страница Александра Добытина
	.b-header__pix
	//-nav.b-header__navigation.b-header-navigation
		.b-header-navigation__element.b-header-navigation__element--general
			a(href="#3").b-header-navigation__link Главная
		.b-header-navigation__element.b-header-navigation__element--resume
			a(href="#3").b-header-navigation__link Резюме
		.b-header-navigation__element.b-header-navigation__element--portfolio
			a(href="#3").b-header-navigation__link Портфолио
	.b-navigation
		.b-navigation__element.col-lg-3.col-md-3.col-sm-6.col-xs-6
			a(href="").b-navigation__link.s-navigation__link Образование 
		.b-navigation__element.col-lg-3.col-md-3.col-sm-6.col-xs-6
			a(href="").b-navigation__link.s-navigation__link Опыт
		.b-navigation__element.col-lg-3.col-md-3.col-sm-6.col-xs-6
			a(href="").b-navigation__link.s-navigation__link Технологии
		.b-navigation__element.col-lg-3.col-md-3.col-sm-6.col-xs-
			a(href="").b-navigation__link.s-navigation__link Контакты