.b-header.container-fluid
	h1
		span.b-header__title.hidden-sm.hidden-xs Домашняя страница Александра Добытина
		span.b-header__title.hidden-lg.hidden-md Дом-страница Александра Добытина
	nav.b-header__navigation.b-header-navigation
		.b-header-navigation__element.b-header-navigation__element--general
			a(href="#3").b-header-navigation__link Главная
		.b-header-navigation__element.b-header-navigation__element--resume
			a(href="#3").b-header-navigation__link Резюме
		.b-header-navigation__element.b-header-navigation__element--portfolio
			a(href="#3").b-header-navigation__link Портфолио
	