.b-content
	h2.b-content__title Технологии
	.b-tech.row
		.b-tech__item.col-lg-3.col-md-3.col-sm-12.col-xs-12
			h3.b-tech__title Сборка
			.b-tech__element.col-lg-12.col-md-12.col-sm-4.col-xs-6
				.b-tech__icon
					img(src="images/gulp.png").b-tech__pix
				.b-tech__name GulpJs
			.b-tech__element.col-lg-12.col-md-12.col-sm-4.col-xs-6
				.b-tech__icon
					img(src="images/jade.png").b-tech__pix
				.b-tech__name Jade
			.b-tech__element.col-lg-12.col-md-12.col-sm-4.col-xs-6
				.b-tech__icon
					img(src="images/less.png").b-tech__pix
				.b-tech__name Less
		.b-tech__item.col-lg-5.col-md-5.col-sm-12.col-xs-12
			h3.b-tech__title В работе
			.b-tech__element.col-lg-6.col-md-6.col-sm-4.col-xs-6
				.b-tech__icon
					img(src="images/bootstrap.png").b-tech__pix
				.b-tech__name Bootstrap 
			.b-tech__element.col-lg-6.col-md-6.col-sm-4.col-xs-6
				.b-tech__icon
					img(src="images/jquery.png").b-tech__pix
				.b-tech__name Jqurey
			.b-tech__element.col-lg-6.col-md-6.col-sm-4.col-xs-6
				.b-tech__icon
					img(src="images/css.png").b-tech__pix
				.b-tech__name CSS3
			.b-tech__element.col-lg-6.col-md-6.col-sm-4.col-xs-6
				.b-tech__icon
					img(src="images/html.png").b-tech__pix
				.b-tech__name HTML5
			.b-tech__element.col-lg-6.col-md-6.col-sm-4.col-xs-6
				.b-tech__icon
					img(src="images/ajax.png").b-tech__pix
				.b-tech__name Ajax
			.b-tech__element.col-lg-6.col-md-6.col-sm-4.col-xs-6
				.b-tech__icon
					img(src="images/js.png").b-tech__pix
				.b-tech__name Javascript<br>(average)
		.b-tech__item.col-lg-3.col-md-3.col-sm-12.col-xs-12
			h3.b-tech__title В освоении
			.b-tech__element.col-lg-12.col-md-12.col-sm-4.col-xs-6
				.b-tech__icon
					img(src="images/react.png").b-tech__pix
				.b-tech__name ReactJS
			.b-tech__element.col-lg-12.col-md-12.col-sm-4.col-xs-6
				.b-tech__icon
					img(src="images/webgl.png").b-tech__pix
				.b-tech__name WebGl/Canvas
			.b-tech__element.col-lg-12.col-md-12.col-sm-4.col-xs-6
				.b-tech__icon
					img(src="images/js.png").b-tech__pix
				.b-tech__name Javascript<br>(advanced)
			
		